<h1>{{ slide.first-name | default: "slide.first-name" }}<br>{{ slide.last-name | default: "slide.last-name" }}</h1>
                <ul>
                    <li><a href="mailto:{{ slide.email }}">{{ slide.email | default: "slide.email" }}</a></li>

                    {% for handle in slide.handles %}
                        <li>{{ handle }}</li>
                    {% endfor %}
                </ul>

                    <p><a href="http://{{ slide.website }}">{{ slide.website | default: "slide.website" }}</a></p>
