<h1>{{ page.author | default: "page.author" | split: ' ' | first }}<br>{{ page.author | default: "page.author" | split: ' ' | last }}</h1>
<ul>
    <li><a href="mailto:{{ slide.email }}">{{ page.email | default: "page.email" }}</a></li>
    <li><a class="social-link twitter" href="http://twitter.com/{{ page.twitter }}">{{ page.twitter | default: "page.twitter" | prepend: '@' }}</a></li>
    <li><a class="social-link instagram" href="http://instagram.com/{{ page.instagram }}">{{ page.instagram | default: "page.instagram" | prepend: '@' }}</a></li>
</ul>
<p><a href="http://{{ page.website }}">{{ page.website | default: "page.website" }}</a></p>
