body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: $red;
    text-decoration: none;
}
