/////////////////////////
// Base Variables
/////////////////////////

$font-size-body: 80px;
$footer-height: 90px;

/////////////////////////
// Base Styles
/////////////////////////

body {
    line-height: 1.2;
}

// Base Slide Styles

.slide section {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 125px;
}

/////////////////////////
// Intro Slide
/////////////////////////

.slides .intro {
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 190px;
    text-align: left;
}

.intro__title {
    font-size: 132px;
    line-height: 1.1;
    text-align: left;
}

.intro__author {
    font-size: 30px;
}

/////////////////////////
// Section Break Slide
/////////////////////////

.sectionbreak__title {
    font-size: 140px;
    line-height: 1;
}

/////////////////////////
// Single Slide
/////////////////////////

.slides .single {
    padding: 0;
}

.single__title {
    font-size: 270px;
}

.single__body {
    font-size: $font-size-body;
    padding: 0 200px;
}

/////////////////////////
// Single Slide w/ Top Bar
/////////////////////////

.slides .single-topbar {
    padding: 0;
}

.single-topbar__top-bar {
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 0 120px;
    text-align: left;
    margin-top: -1px; // fix sub pixel top line
}

.single-topbar__title {
    font-size: $font-size-body + 10px;
    line-height: 1;
}

.single-topbar__body {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    font-size: $font-size-body;
    padding: 0 170px;
    padding-bottom: 100px; // offset vertical center
}

/////////////////////////
// Single Slide Split
/////////////////////////

.slides .single-split {
    padding: 0;
}

.single-split__header {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    padding: 0 170px;
    margin-top: -1px; // fix sub pixel top line
}

.single-split__title {
    font-size: $font-size-body;
}

/////////////////////////
// Thanks Slide
/////////////////////////

.slides .thanks {
    justify-content: flex-start;
    text-align: left;
    padding-top: 150px;
}

.thanks__title {
    font-size: 116px;
}

/////////////////////////
// List Slide
/////////////////////////

.slides .list {
    flex-direction: row;
    padding: 0;
}

.list__title {
    width: 40%;
    text-align: left;
    align-self: center;
    font-size: $font-size-body;
    padding: 0 100px 0 0;
}

.list__ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    width: 60%;
    font-size: 42px;
    text-align: left;
    list-style-type: none;
}

.list__li {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #fff;
}

.list__li:last-of-type {
    border-bottom: none;
}

/////////////////////////
// List Step Slide
/////////////////////////

.slides .list-step {
    padding: 0;
    flex-direction: row;
    text-align: left;
}

.list-step__title {
    font-size: $font-size-body;
    width: 60%;
    align-self: center;
    padding: 0 100px;

    strong {
        font-weight: bold;
    }
}

.list-step__ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    padding: 130px 0;
    width: 40%;
    font-size: 42px;
    text-align: left;
    list-style-type: none;
}

.list-step__li {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0 0 0 100px;
}

.list-step__li span {
    width: 180px;
    font-size: 240px;
    line-height: 1;
}

.list-step__li.selected {

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 137px solid #000;
        border-bottom: 137px solid #000;
        border-left: 50px solid transparent;
    }
}

/////////////////////////
// Contact Slide
/////////////////////////

.slides .contact {
    justify-content: space-between;
    text-align: left;
    padding-top: 150px;
    padding-bottom: 150px;
}

.contact__name {
    font-size: 128px;
    line-height: 1;
    margin-bottom: 20px;
}

.contact .contact__list {
    font-size: 78px;
    line-height: 1.2;
    list-style-type: none;
}

.social-link {
    border: none;

    &:before {
        content: "";
        display: inline-block;
        width: 100px;
        height: 100px;
        margin: 10px 20px 10px 0;
        vertical-align: middle;
    }
}

.social-link.twitter:before {
    background: url("../assets/img/icons/twitter-icon.svg") no-repeat;
    background-size: contain;
}

.social-link.instagram:before {
    background: url("../assets/img/icons/instagram-icon.svg") no-repeat;
    background-size: contain;
}
p.contact__website {
    padding-bottom: 2em;
}
.contact__website a {
    font-size: 32px;
    line-height: 1;
    padding-bottom: 2px;
}
/////////////////////////
// Image Slide
/////////////////////////

.image__caption {
    font-size: 110px;
}

/////////////////////////
// Slide Footer
/////////////////////////

.slide-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    padding: 0 50px;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 28px;
    z-index: 11;
    opacity: 1;
    visibility: visible;
    transition: all 0.4s ease-in-out;

    // using before and after to fake "bleed" the footer background
    &:before,
    &:after {
        content: "";
        position: absolute;
        width: 100vw;
        height: $footer-height;
        background-color: rgba(255, 255, 255, 0.1);
    }

    &:before {
        left: -100vw;
    }

    &:after {
        right: -100vw;
    }
}

.slide-footer__link {
    color: inherit;
}

// make room for the footer by offsetting the slide bottom padding
.slides section[data-state="footer-shown"] {
    padding-bottom: $footer-height !important;
}

// if footer = hidden visually hide the footer
.footer-hidden .slide-footer {
    bottom: -$footer-height;
    opacity: 0;
    visibility: hidden;
}

// change text color to red on dark background slides
.reveal.has-dark-background .slide-footer {
    color: #fff;
}
