/////////////////////////
// Base Styles
/////////////////////////

body {
    line-height: 1.2;
    letter-spacing: 2px;
}

// Default Slide Background Color

.reveal .backgrounds,
.reveal .slide-background {
    background-color: $red;
}

// Navigation Controls

.reveal .controls {
    color: $navy;
}

.reveal.has-dark-background .controls {
    color: $red;
}

// Progress Bar

.reveal .progress {
     background: rgba(0, 0, 0, 0.2);
     color: $navy;
}

.reveal.has-dark-background .progress {
    background: rgba(255, 255, 255, 0.2);
    color: $red;
}

.reveal .progress span {
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

 // Base Slide Styles

.slide section {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-weight: 700;
    color: $navy;
    padding: 0 125px;
}

/////////////////////////
// Intro Slide
/////////////////////////

.slides .intro {
    justify-content: space-between;
    padding-top: 150px;
    padding-bottom: 190px;
    color: $red;
    text-align: left;
}

.intro__title {
    font-size: 132px;
    line-height: 1.1;
    font-weight: 300;
    text-align: left;
    color: #fff;
}

.intro__author {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}

/////////////////////////
// Section Break Slide
/////////////////////////

.sectionbreak__title {
    color: $red;
    font-size: 140px;
    line-height: 1;
}

/////////////////////////
// Single Slide
/////////////////////////

.slides .single {
    padding: 0;
}

.single__title {
    font-size: 270px;
    letter-spacing: 0;
}

.single__body {
    font-size: 90px;
    padding: 0 200px;
}

/////////////////////////
// Single Slide w/ Top Bar
/////////////////////////

.slides .single-topbar {
    padding: 0;
}

.single-topbar__top-bar {
    align-self: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 0 120px;
    background-color: $navy;
    text-align: left;
    margin-top: -1px; // fix sub pixel top line
}

.single-topbar__title {
    font-size: 89px;
    line-height: 1;
    color: $red;
    letter-spacing: 2px;
}

.single-topbar__body {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    font-size: 90px;
    padding: 0 170px;
    padding-bottom: 100px; // offset vertical center
    background-color: $red;
}

/////////////////////////
// Single Slide Split
/////////////////////////

.slides .single-split {
    padding: 0;
}

.single-split__header {
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    padding: 0 170px;
    margin-top: -1px; // fix sub pixel top line
    background-color: $navy;
    color: $red;
}

.single-split__header + .single-split__header {
    background-color: $red;
    color: $navy;
}

.single-split__title {
    font-size: 90px;
}

/////////////////////////
// Thanks Slide
/////////////////////////

.slides .thanks {
    justify-content: flex-start;
    text-align: left;
    padding-top: 150px;
}

.thanks__title {
    font-size: 116px;
    font-weight: 300;
}

/////////////////////////
// List Slide
/////////////////////////

.slides .list {
    flex-direction: row;
    padding: 0;
}

.list__title {
    width: 40%;
    text-align: center;
    align-self: center;
    font-size: 90px;
    font-weight: 400;
    color: $red;
}

.list__ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    width: 60%;
    font-size: 42px;
    font-weight: 600;
    text-align: left;
    list-style-type: none;
    background-color: $grey;
    color: $grey-dark;
}

.list__li {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-bottom: 1px solid #fff;
}

.list__li:last-of-type {
    border-bottom: none;
}

/////////////////////////
// List Step Slide
/////////////////////////

.slides .list-step {
    padding: 0;
    flex-direction: row;
    text-align: left;
}

.list-step__title {
    padding-left: 125px;
    font-size: 90px;
    width: 60%;
    align-self: center;
    font-weight: 400;
    color: $grey-dark;

    strong {
        font-weight: 700;
    }

}

.list-step__ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    padding: 130px 0;
    width: 40%;
    font-size: 42px;
    font-weight: 600;
    text-align: left;
    list-style-type: none;
    background-color: $navy;
    color: $grey;
}

.list-step__li {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    padding: 0 0 0 100px;
}

.list-step__li span {
    width: 180px;
    font-size: 240px;
    line-height: 1;
    color: $red;
}

.list-step__li.selected {
    background-color: $red;

    span {
        color: $navy;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 137px solid $navy;
        border-bottom: 137px solid $navy;
        border-left: 50px solid transparent;
    }

}

/////////////////////////
// Contact Slide
/////////////////////////

.slides .contact {
    justify-content: space-between;
    text-align: left;
    color: #fff;
    padding-top: 150px;
    padding-bottom: 150px;
}

.contact__name {
    font-size: 128px;
    font-weight: 300;
    line-height: 1;
    text-transform: lowercase;
    margin-bottom: 20px;
}

.contact .contact__list {
    font-size: 78px;
    font-weight: 300;
    line-height: 1.2;
    list-style-type: none;
}

.contact__email {
    color: #fff;
}

.social-link {
    color: $red !important;
    border: none;

    &:before {
         content: '';
         display: inline-block;
         width: 100px;
         height: 100px;
         margin: 10px 20px 10px 0;
         vertical-align: middle;
    }

}

.social-link.twitter:before {
    background: url("../assets/img/icons/twitter-icon.svg") no-repeat;
    background-size: contain;
}

.social-link.instagram:before {
    background: url("../assets/img/icons/instagram-icon.svg") no-repeat;
    background-size: contain;
}
p.contact__website {
    padding-bottom: 2em;
}
.contact__website a {
    font-size: 32px;
    font-weight: 400;
    line-height: 1;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
    color: #fff;
    opacity: .7;
}
/////////////////////////
// Image Slide
/////////////////////////

.image__caption {
    color: #fff;
    font-size: 110px;
    font-weight: 700;
}

/////////////////////////
// Slide Footer
/////////////////////////

$footer-height: 90px;

.slide-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-height;
    padding: 0 50px;
    background-color: rgba(255,255,255,0.1);
    font-size: 28px;
    color: $navy;
    z-index: 11;
    opacity: 1;
    visibility: visible;
    transition: all .4s ease-in-out;

    // using before and after to fake "bleed" the footer background
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 100vw;
        height: $footer-height;
        background-color: rgba(255,255,255,0.1);
    }

    &:before {
        left: -100vw;
    }

    &:after {
        right: -100vw;
    }

}

.slide-footer__link {
    color: inherit;
}

// make room for the footer by offsetting the slide bottom padding
.slides section[data-state="footer-shown"] {
    padding-bottom: $footer-height !important;
}

// if footer = hidden visually hide the footer
.footer-hidden .slide-footer {
    bottom: -$footer-height;
    opacity: 0;
    visibility: hidden;
}

// change text color to red on dark background slides
.reveal.has-dark-background .slide-footer {
    color: $red;
}
