---
---

/////////////////////////
// Theme Variables
/////////////////////////

$red: #F6511E;
$green: #C2D300;
$blue: #1446A0;
$blue-light: #ADFCF9;
$purple: #43344F;

$grey-dark: #2A2E3C;
$grey: #595E71;
$grey-light: #DBDBDB;

/////////////////////////
// Import Base Styles
/////////////////////////

@import "base";

/////////////////////////
// Theme Styles
/////////////////////////

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

a {
    color: $green;
}

// Default Slide Background Color

.reveal .slide-background {
    background-color: $grey-light;
}

// Base Slide Styles

.slide section {
    font-weight: 700;
    color: $grey-dark;
}

/////////////////////////
// Intro Slide
/////////////////////////

.slides .intro {
    color: $green;
    text-align: left;
}

.intro__title {
    font-weight: 700;
    color: $green;

    &:after {
        content: '';
        display: block;
        width: 100px;
        height: 10px;
        margin-top: 20px;
        background-color: rgba($green, .5);
        border-radius: 10px;
    }
}

.intro__author {
    color: rgba(#fff, 0.7);
    font-weight: 400;
}

/////////////////////////
// Section Break Slide
/////////////////////////

.sectionbreak__title {
    color: $green;
}

/////////////////////////
// Single Slide
/////////////////////////

.single__title {
    letter-spacing: 0;
}

/////////////////////////
// Single Slide w/ Top Bar
/////////////////////////

.single-topbar__top-bar {
    background-color: $grey-dark;
}

.single-topbar__title {
    color: $green;
    letter-spacing: 2px;
}

/////////////////////////
// Single Slide Split
/////////////////////////

.single-split__header {
    background-color: $grey-dark;
    color: $green;
}

.single-split__header + .single-split__header {
    background-color: $green;
    color: $grey-dark;
}

/////////////////////////
// Thanks Slide
/////////////////////////

.thanks__title {
    font-weight: 600;
}

/////////////////////////
// List Slide
/////////////////////////

.list__title {
    font-weight: 400;
    color: $green;
}

.list__ul {
    font-weight: 400;
    background-color: rgba(#fff, 0.7);
    color: $grey-dark;
}

.list__li {
    border-bottom: 2px solid $grey-dark;
}

/////////////////////////
// List Step Slide
/////////////////////////

.list-step__title {
    font-weight: 400;
    color: $grey-dark;

    strong {
        font-weight: 700;
    }
}

.list-step__ul {
    font-weight: 600;
    background-color: $grey-dark;
    color: rgba(#fff, 0.7);
}

.list-step__li span {
    color: $green;
}

.list-step__li.selected {
    color: $grey-dark;
    background-color: $green;

    span {
        color: $grey-dark;
    }

    &:after {
        border-top: 137px solid $grey-dark;
        border-bottom: 137px solid $grey-dark;
        border-left: 50px solid transparent;
    }
}

/////////////////////////
// Contact Slide
/////////////////////////

.slides .contact {
    color: #fff;
}

.contact__name {
    font-weight: 600;
    // text-transform: lowercase;
}

.contact .contact__list {
    font-weight: 400;
    font-size: 50px;
    line-height: 2;
}

.contact__email {
    color: #fff;
}

.social-link {
    color: $green !important;

    &:before {
        width: 80px;
        height: 80px;
        margin: 0 20px 0 0;
    }

}

.social-link.twitter:before {
    background: url("../assets/img/icons/twitter-icon-green.svg") no-repeat;
    background-size: contain;
}

.social-link.instagram:before {
    background: url("../assets/img/icons/instagram-icon-green.svg") no-repeat;
    background-size: contain;
}

.contact__website a {
    font-weight: 400;
    border-bottom: 1px solid #fff;
    color: #fff;
    opacity: 0.7;
}
/////////////////////////
// Image Slide
/////////////////////////

.image__caption {
    color: #fff;
    font-weight: 700;
}

/////////////////////////
// Slide Footer
/////////////////////////

.slide-footer {
    background-color: rgba(#fff, 0.3);
    color: $grey;

    // using before and after to fake "bleed" the footer background
    &:before,
    &:after {
        background-color: inherit;
    }

    .divider {
        font-size: 18px;
        vertical-align: middle;
        color: rgba($grey, 0.5);
        margin: 0 10px;
        transition: all 0.4s ease-in-out;
    }

}

// dark background slide overrides

.reveal.has-dark-background .slide-footer {
    background-color: rgba(#000, 0.1);
    color: rgba(#fff, 0.7);

    &:before,
    &:after {
        background-color: inherit;
    }

    .divider {
        color: rgba(#fff, 0.5);
    }
}
