---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Color Variables

$navy: #1C213F;
$red: #F15A50;
$grey-dark: #535351;
$grey: #D9D4CC;

// Type Variables

$font-size-body: 80px;

// Imports

@import "reveal";
@import "base";
@import "homepage";
@import "theme";
