/////////////////////////
// Theme Variables
/////////////////////////

$navy: #1C213F;
$red: #F15A50;
$grey-dark: #535351;
$grey: #D9D4CC;

$font-size-body: 80px;

/////////////////////////
// Import Base Styles
/////////////////////////

@import "base";

/////////////////////////
// Theme Styles
/////////////////////////

body {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}

a {
    color: $red;
}

// Default Slide Background Color

.reveal .backgrounds,
.reveal .slide-background {
    background-color: $red;
}

// Base Slide Styles

.slide section {
    font-weight: 700;
    color: $navy;
}

/////////////////////////
// Intro Slide
/////////////////////////

.slides .intro {
    color: $red;
    text-align: left;
}

.intro__title {
    font-weight: 300;
    color: #fff;
}

.intro__author {
    font-weight: 500;
    letter-spacing: 2px;
}

/////////////////////////
// Section Break Slide
/////////////////////////

.sectionbreak__title {
    color: $red;
}

/////////////////////////
// Single Slide
/////////////////////////

.single__title {
    letter-spacing: 0;
}

/////////////////////////
// Single Slide w/ Top Bar
/////////////////////////

.single-topbar__top-bar {
    background-color: $navy;
}

.single-topbar__title {
    color: $red;
    letter-spacing: 2px;
}

.single-topbar__body {
    background-color: $red;
}

/////////////////////////
// Single Slide Split
/////////////////////////

.single-split__header {
    background-color: $navy;
    color: $red;
}

.single-split__header + .single-split__header {
    background-color: $red;
    color: $navy;
}

/////////////////////////
// Thanks Slide
/////////////////////////

.thanks__title {
    font-weight: 300;
}

/////////////////////////
// List Slide
/////////////////////////

.list__title {
    font-weight: 400;
    color: $red;
}

.list__ul {
    font-weight: 600;
    background-color: $grey;
    color: $grey-dark;
}

/////////////////////////
// List Step Slide
/////////////////////////

.list-step__title {
    font-weight: 400;
    color: $grey-dark;

    strong {
        font-weight: 700;
    }
}

.list-step__ul {
    font-weight: 600;
    background-color: $navy;
    color: $grey;
}

.list-step__li span {
    color: $red;
}

.list-step__li.selected {
    background-color: $red;

    span {
        color: $navy;
    }

    &:after {
        border-top: 137px solid $navy;
        border-bottom: 137px solid $navy;
        border-left: 50px solid transparent;
    }
}

/////////////////////////
// Contact Slide
/////////////////////////

.slides .contact {
    color: #fff;
}

.contact__name {
    font-weight: 300;
    text-transform: lowercase;
}

.contact .contact__list {
    font-weight: 300;
}

.contact__email {
    color: #fff;
}

.social-link {
    color: $red !important;
}

.social-link.twitter:before {
    background: url("../assets/img/icons/twitter-icon.svg") no-repeat;
    background-size: contain;
}

.social-link.instagram:before {
    background: url("../assets/img/icons/instagram-icon.svg") no-repeat;
    background-size: contain;
}

.contact__website a {
    font-weight: 400;
    border-bottom: 1px solid #fff;
    color: #fff;
    opacity: 0.7;
}
/////////////////////////
// Image Slide
/////////////////////////

.image__caption {
    color: #fff;
    font-weight: 700;
}

/////////////////////////
// Slide Footer
/////////////////////////

.slide-footer {
    background-color: rgba(255, 255, 255, 0.1);
    color: $navy;

    // using before and after to fake "bleed" the footer background
    &:before,
    &:after {
        background-color: inherit;
    }
}

// dark background slide overrides

.reveal.has-dark-background .slide-footer {
    color: $red;
}
