---
layout: default
---

<div class="reveal">
    <div class="slides">

    {% for slide in page.slides %}
        <section class="{{ slide.format }}"
                 {% if slide.image %}
                     data-background-size="cover"
                     data-background-size="no-repeat"
                     data-background-image="{{ "/assets/img/" | relative_url }}{{ slide.image | liquify }}"
                 {% endif %}
                 {% if slide.iframe %}
                         data-background-iframe="{{ slide.iframe }}"
                 {% endif %}
                 {% if slide.background-color %}
                    data-background-color="{{ slide.background-color }}"
                {% else %}
                     data-background-color="{{ site.data.slide-templates[slide.format].background | liquify }}"
                 {% endif %}
                {% if slide.video %}
                         data-background-video="{{ "/assets/img/" | relative_url }}{{ slide.video | liquify }}"
                {% endif %}
                 data-background-transition="{{ slide.background-transition | liquify | default:"fade" }}"
                 data-transition="{{ slide.slide-transition | liquify | default:"slide" }}"
                 {% if slide.footer %}
                     data-state="footer-{{ slide.footer}}"
                 {% else %}
                    data-state="footer-shown"
                 {% endif %}
                 >
        {% include slides/{{ slide.format }}.html %}
        <aside class="notes">
            {{ slide.notes | default:"slide.notes" | liquify }}
        </aside>
        </section>
    {% endfor %}
    {% include slides/footer.html %}

    </div>
</div>
